a {
    color:rgb(12, 218, 12);
    font-size: 40px;  
    display:inline;
    width: 100px;
    padding:8px;
    background-color: rgba(8, 8, 8, 0.856);
    border: 1px solid #057a2c;
    background-color: rgba(0, 0, 0, 0.932);
    background-image: url('hacker-1446193_960_720.jpg');
} 
p {
    color:rgb(12, 218, 12);
    font-size: 2em;  
    
}
    
body {
        background-color: rgba(0, 0, 0, 0.932);
        color:rgb(33, 12, 218);
}
h1{
    color:rgb(12, 218, 12);
    font-size: 20ems;
}
figcaption{
    color:rgb(12, 218, 12);
    font-size: 2em;  
     
}
li{
    color:rgb(12, 218, 12);
    font-size: 2em;    
}
button {
    background-color: rgba(252, 14, 14, 0.856);
    border: none;
    color: rgb(12, 204, 218);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  h1{
    color:rgb(12, 218, 12);
    font-size: 4em; 
  }
  img{
    color:rgb(12, 218, 12);
    font-size: 3em; 
  }
  

  

